.popup {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(229, 229, 229, .5);
    justify-content: center;
    align-items: center;
    transition: visibility 0.5s, opacity 0.5s linear;
    visibility: hidden; /*переключение видимости попапа*/

}

.popup__container {
    position: relative;
    width: 720px;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: #1C1C21;
}

.popup__closeButton {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 53px; /*по макету 63рх*/
    right: 40px;
    border: none;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

/*Добавлено для красоты*/
.popup__closeButton:hover {
    opacity: .6;
}

.popup__image {
    width: 480px;
    height: 240px;
    align-self: center;
}
.popup__aligner {
    text-align: center;
}

.popup__list {
    list-style-type:  none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.popup__element:last-child {
    margin-right: 0;
}

