.page {
    margin: 0 auto;
    max-width: 1920px;
    padding-bottom: 532px;
    padding-top: 120px;
}

.main {
    border: 1px solid blue;
    width: 860px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav {
    max-width: 320px;
    border: 1px solid red;
}

.nav__menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    line-height: 64px;
    border: 1px solid white;
    cursor: pointer;
}

.nav__item:hover {
    text-shadow: #4C4CFF 0 0 15px;
}

.content {
    max-width: 480px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.content>div>div {
    width: 480px;
}

.button {
    width: 860px;
    display: flex; 
    justify-content: flex-end;
    margin: 0 auto;
}

.button__element {
    width: 480px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}