.container {
  max-width: 600px;
  max-height: 912px;
  overflow: hidden;
}

.menu {
  max-height: 716px;
  overflow: auto; 
  position: relative;
}

/*цвет дорожки scrollbar*/
.menu::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

/*ползунок скроллбара*/
.menu::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

/*ширина scrollbar*/
.menu::-webkit-scrollbar {
  width: 8px;
  background-color: #F9F9FD;  
}
