.page {
  background-color: #000;
  margin: auto;
  box-sizing: border-box;
  height: 100vh;
}

.main {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
