.main {
    margin-top: 100px;
    
}

.content {
    max-width: 580px;
    display: flex;
    justify-content: space-between;
    
}


.orders {
    width: 272px;
   /* max-height: 172px;*/
   max-height: 205px;
    overflow: hidden;
}

.orders__title {
    color: #F2F2F3;
}

.orders__list {
    gap: 8px;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.orders__text_done {
    color: #00CCCC;
}

.sum__count {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 120px;
    margin: 0;
    text-shadow: 
    0px 0px 16px rgba(51, 51, 255, 0.25), 
    0px 0px 8px rgba(51, 51, 255, 0.25), 
    0px 4px 32px rgba(51, 51, 255, 0.5);
}

.sum__text {
    margin: 0;
}